vendor

.DS_Store
.idea
.env

frontend/web/images/*
frontend/web/books/*
frontend/web/assets/*
frontend/runtime/*

admin/web/assets/*
admin/runtime/*

composer.lock
db.php
*.apk

frontend/web/download/*
uploads/*
