@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,500,500italic,600,600italic);

html, body {
    min-height: 100%;
    height: 100%;
    font-weight: 300 !important;
    font-family: 'Exo 2';
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

textarea {
    resize: vertical;
}

.body-content {
    height: 100%;
}

.yii2-image-ajax .table {
    margin-bottom: 0;
}

.body-content .content-panel .breadcrumbs-cell {
    vertical-align: top;
}

.btn-add {
    margin-bottom: 20px;
}

.grid-btn a {
    margin: 0 2px;
}

.form-bottom-box {
    text-align: right;
}

.alert button, .modal-header button {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#feedback-answer {
    resize: vertical;
}

.grid-name {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.grid-icon {
    width: 160px;
    margin-bottom: 10px;
}

.grid-icon img {
    width: 100%;
}

.grid-place-1 {
    color: #F5A623;
    font-weight: bold;
    font-size: 18px;
}

.grid-place-2 {
    color: #9B9B9B;
    font-weight: bold;
    font-size: 18px;
}

.grid-place-3 {
    color: #D3835C;
    font-weight: bold;
    font-size: 18px;
}

#select-comment .grid-btn .btn-success {
    background-color: #F5A623;
    border-color: #F5A623;
}

#select-comment .grid-btn .btn-primary {
    background-color: #9B9B9B;
    border-color: #9B9B9B;
}

#select-comment .grid-btn .btn-warning {
    background-color: #D3835C;
    border-color: #D3835C;
}

.index .well {
    text-align: center;
}

.index .highcharts-container {
    border: 1px solid #4f5365;
}

.index .col-md-6 {
    padding-bottom: 20px;
}

#video-grid .grid-btn .btn {
    margin-bottom: 17px;
}

#video-grid .grid-btn .btn:last-child {
    margin-bottom: 0;
}

#select-comment .grid-btn .btn {
    margin: 10px 0;
}

#select-comment .grid-btn .btn:first-child {
    margin-top: 15px;
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-content {
    color: #444;
}

.form-group .col-sm-10 {
    font-size: 0;
}

.form-group .col-sm-10 .radio {
    font-size: 14px;
}

.yii2-date-picker span {
    padding-top: 8px;
}

.form-group.has-error .sceditor-container {
    border: 1px solid #a94442;
}